.text-with-label {
  margin-top: 12px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 4px;
  float: left;
}
.text-with-label .label {
  color: #1e56a0;
  font-size: 12px;
  font-family: OpenSans-Bold;
}
.text-with-label .text {
  color: #163172;
  font-size: 16px;
  font-family: Nunito;
}
